#Schleswig-Holstein{
    grid-area: Schleswig-Holstein;
}
#Mecklenburg-Vorpommern{
    grid-area: Mecklenburg-Vorpommern;
}
#Hamburg{
    grid-area: Hamburg;
}
#Niedersachsen{
    grid-area: Niedersachsen;
}
#Bremen{
    grid-area: Bremen;
}
#Thüringen{
    grid-area: Thüringen;
}
#Sachsen{
    grid-area: Sachsen;
}
#Sachsen-Anhalt{
    grid-area: Sachsen-Anhalt;
}
#Brandenburg{
    grid-area: Brandenburg;
}
#Berlin{
    grid-area: Berlin;
}
#Nordrhein-Westfalen{
    grid-area: Nordrhein-Westfalen;
}
#Hessen{
    grid-area: Hessen;
}
#Rheinland-Pfalz{
    grid-area: Rheinland-Pfalz;
}
#Saarland{
    grid-area: Saarland;
}
#Baden-Württemberg{
    grid-area: Baden-Württemberg;
}
#Bayern{
    grid-area: Bayern;
}