body {
    margin: 0;
    background-color: rgb(221, 173, 110);
    color: rgb(60, 60, 60);
    font-family: fantasy;
    overflow: scroll;
  }
  
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
}

#frage {
    font-size: 70px;
    position: absolute;
    top: -60px;
}

#bildDE {
    position: absolute;
    top: 0;
    height: 800px;
    width: 900px;
    border-radius: 500px;
}

#button_div {
    display: grid;
    position: absolute;
    top: 100px;
    border: 1px solid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas:
        " . . . . . Schleswig-Holstein . . . . . ."
        " . . . . . . . . Mecklenburg-Vorpommern . . ."
        " . . Niedersachsen . . Hamburg . . . . . ."
        " . . . . Bremen . . . . . . Brandenburg"
        " . . . . . . . Sachsen-Anhalt . Berlin . ."
        " . . Nordrhein-Westfalen . . . . . . . . ."
        " . . . . . . Thüringen . . . . ."
        " . . . . Hessen . . . . . Sachsen ."
        " . . Rheinland-Pfalz . . . . . . . . ."
        ". Saarland . . . . . . . . . ."
        " . . . . Baden-Württemberg . . . Bayern . . ."
        " . . . . . . . . . . . .";
}

.button_bundesland {
    padding: 0px;
    background-color: rgba(214, 74, 55, 0.4);
    color: rgb(250, 197, 197);
    border-radius: 20px;
}

#spielStarten_button {
    bottom: 40px;
    font-size: xx-large;
    background-color: darkkhaki;
    border-radius: 10px;
}

#btn_hilfeUmschalten{
    padding: 3rem;
    border: 1px solid black;
    border-radius: 10px;
}
#btn_hilfeUmschalten:hover{
    padding: 3rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(252, 218, 174);
}

#btn_lösungAnzeigenUmschalten{
    padding: 3rem;
    border: 1px solid black;
    border-radius: 10px;
}
#btn_lösungAnzeigenUmschalten:hover{
    background-color: rgb(252, 218, 174);
}

#alleExtraButtons{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
}