:root {
    --main_color_bg: rgb(231, 196, 150);
    --main_color: rgb(43, 42, 42);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main_color_bg: rgb(94, 92, 92);
        --main_color: rgb(194, 184, 171);
    }
}

body {
    margin: 0;
    background-color: var(--main_color_bg);
    color: var(--main_color);
    font-family: fantasy;
    overflow: scroll;
  }
  
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
}

#frage {
    font-size: 70px;
    margin: 0.5rem;
}

#div_bild {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#bildDE {
    width: 900px;
    height: 800px;
    object-fit: contain;
}

#button_div {
    display: grid;
    position: absolute;
    border: 1px solid black;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas:
        " . . . . . Schleswig-Holstein . . . . . ."
        " . . . . . . . . Mecklenburg-Vorpommern . . ."
        " . . Niedersachsen . . Hamburg . . . . . ."
        " . . . . Bremen . . . . . . Brandenburg"
        " . . . . . . . Sachsen-Anhalt . Berlin . ."
        " . . Nordrhein-Westfalen . . . . . . . . ."
        " . . . . . . Thüringen . . . . ."
        " . . . . Hessen . . . . . Sachsen ."
        " . . Rheinland-Pfalz . . . . . . . . ."
        ". Saarland . . . . . . . . . ."
        " . . . . Baden-Württemberg . . . Bayern . . ."
        " . . . . . . . . . . . .";
}

.button_bundesland {
    padding: 0px;
    background-color: rgba(214, 74, 55, 0.4);
    color: rgb(250, 197, 197);
    border-radius: 20px;
}

#spielStarten_button {
    bottom: 40px;
    font-size: xx-large;
    background-color:  rgb(177, 152, 119);
    border-radius: 10px;
}

#btn_hilfeUmschalten, #btn_lösungAnzeigenUmschalten{
    font-size: 1.5rem;
    padding: 3rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(209, 186, 156);
}